<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Aidan Dykstal"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <title>TROPOMI Methane Analyzer</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
  <body>

    <header>
      <h1> TROPOMI Methane Analyzer </h1> <hr/>
    </header>

    <section id="passReset">

      <h2> Analytic Selection: </h2>

      <p id="passSet"></p>

      <form name="form" id="form" method="POST" action="">

          <p id="message"></p>

	  <label for="analytic"> Analytic: </label><select name="analytic" required>
		  <option disabled selected value=""> -- select an analytic -- </option>
		  <option value="FaST Anomaly Detector">FaST Anomaly Detector</option>
		  <option value="Relevance Estimator 9000">Relevance Estimator 9000</option>
	      </select>
	      <span class="required">* </span><br/>

       <h2> Latitude-Longitude Range Selection: </h2>

       <label for="minLat"> Mininimum Latitude [-90.000, 90.000]: </label><input type="text" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)$"  id="minLat" name="minLat"> <br/>
       <label for="maxLat"> Maximum Latitude [-90.000, 90.000]: </label><input type="text" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)$" id="maxLat" name="maxLat"> <br/>
       <label for="minLon"> Mininimum Longitude [-180.000, 180.000]: </label><input type="text" pattern="^[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$" id="minLon" name="minLon"> <br/>
       <label for="maxLon"> Maximum Longitude [-180.000, 180.000]: </label><input type="text" pattern="^[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$" id="maxLon" name="maxLon"> <br/>
        <input type="submit" id="submit" name="submit" value="Submit"> 
      </form>
      <script src="./main.js"></script>

      <br/>

    </section>
    
  </body>
</html>
