<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Aidan Dykstal"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <title>TROPOMI Methane Analyzer Results</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
  <body>

    <header>
      <h1> TROPOMI Methane Analyzer Results </h1> <hr/>
    </header>

    <section>

	    <p><b> Selected Analytic: </b> {{analytic}} </p>
	    <p><b> Latitude Bounding Box: </b> ({{minLat}}, {{maxLat}}) </p>
	    <p><b> Longitude Bounding Box: </b> ({{minLon}}, {{maxLon}}) </p>
	    <p><b> Start Date: </b> {{startDate}} </p>
	    <p><b> End Date: </b> {{endDate}} </p>
      <p><b> Top Five Anomalies: </b></p>
      <ul> 
        <li><i> (a)    </i>{{results[1]}} </li>
        <li><i> (b)    </i>{{results[2]}} </li>
        <li><i> (c)    </i>{{results[3]}} </li> 
        <li><i> (d)    </i>{{results[4]}} </li> 
        <li><i> (e)    </i>{{results[5]}} </li> 
      </ul>

      <br/>
      <br/>

      <p><b> Anomalies Plotted: </b></p>
      <img src="{{image}}" id="test" alt="Anomalies Plotted on the Region">
      <br/>

      <a href="./tropomi">Run another Analytic.</a>

    </section>
 
  </body>
</html>
